*.o
*.mod
*.out
plots*
input.nml
model/driver
model/input.nml
model/data/restart.dat
model/radiation/radtest
model/radiation/tabletest
model/radiation/compare*
model/radiation/out_*.txt
experiments*
samosa/
namelists/old*
__pycache__/
